.start-screen {
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    overflow: hidden;
    img {
        height: 70vh;
        border-radius: 10%;
       
    }
}

.start-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 430px;
    display: flex;
    justify-content: center;
    
    img {
        width: 30vw;
        height: auto;
        
        &:hover {
            filter: brightness(1.25);
            cursor: pointer;
        }
    }
}